__pycache__/
.dscompanion-search.json
FAKEPTY.COM
settings.json
dosbox_dicelog.conf
DSUNLOG.EXE
play.log
SEGOBJEX.GFF
SEGOBJEX.GFF.tmp
RESOURCE.GFF
RESOURCE.GFF.tmp
GPLDATA.GFF
GPLDATA.GFF.tmp
RGN29.GFF
RGN29.GFF.tmp
RGN1C.GFF
RGN1C.GFF.tmp
RGN1E.GFF
RGN1E.GFF.tmp
GAMEEND.TXT
crash-logs/
